@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#login {
    background-color: #C6A969;
    color: white;
}
#login:hover{
    background-color: #597E52;
}
#signup {
    background-color: #C6A969;
    color: white;
}
#signup:hover{
    background-color: #597E52;
}
#signin {
    background-color: #C6A969;
    color: white;
}
#signin:hover{
    background-color: #597E52;
}
